# Ignorar datasets pesados
train/
test/
val/
vit-afinacion/
# Ignorar modelos entrenados
models/
*.pt
*.pth
*.h5

# Ignorar caches
*.cache
__pycache__/
*.ipynb_checkpoints/

# Ignorar resultados
resultados_efficientnet/
resultados_vit/
runs/

# Ignorar logs grandes
*.log

# Ignorar entornos locales
.env
venv/
vit_env/